body
{
    background-color: #F9FAFB;
}
.navbar
{
    background-color: #1E3A8A;
}
.form-control,
.form-select,
#formBtn {
  height: 100%;
  min-height: 58px; /* Ensures minimum consistent height */
}
 .form-select,#formBtn
{
  max-height: 58px;
} 

.form-floating {
  height: 100%;
}

.badge-custom
{
    width: auto;
    height:28px;
    font-size: 13px;
    text-align: center;
    padding: 8px;
    padding-left: 6px;
    
}

